[user]
  name = Alexander Popov 
  email = alexander.popov@telerik.com

[push]
  default = tracking

[color]
  diff = auto
  status = auto
  branch = auto

[core]
  excludesfile = ~/.gitignore
  autocrlf = false
  whitespace = cr-at-eol
	editor = vi

[format]
  pretty = %Cblue%h%Creset %Cgreen[%cr]%Creset (%an) %s

[alias]
  c = commit -m
  ch = cherry-pick
  co = checkout
  a = add
  d = diff
  dic = diff --cached
  ps = push
  s = status
  out = log origin..HEAD
  qpl = log --pretty=\"%Cblue%h%Creset %Cgreen[%cr]%Creset %s\" origin/production..origin/master
  l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative
  ci = commit
  ca = commit --amend
  eu = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  au = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  cp = "!git checkout production && git pull --rebase && git cherry-pick master && git push && git checkout master"
  cpp = "!f() { git checkout production && git pull --rebase && git cherry-pick $1 && git push && git checkout master ; }; f"
  catchup = "!git fetch origin; git rebase origin/master"
  ctags = !.git/hooks/ctags
  sync = "!git pl && git push"
  # Alternate log display from Scott Chacon
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  sub = submodule update --init

  # Other useful aliases:
  unstage = reset HEAD
  staged = diff --cached
  unstaged = diff
  current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
  # Usage: git track origin/feature-123-login-form
  track = checkout -t

  #############################
  # public/private mirrors aliases
  #############################
  pl = "!git fetch --prune && git rebase --preserve-merges `git rev-parse --abbrev-ref --symbolic-full-name @{u}`"

  # Bring alias from public repo to private
  put-in-master = "!git checkout master && git pl && git cherry-pick core/master && git push && git checkout core-master"

  # use this when cherry picking from private to public
  drop-deleted-by-us = "!git rm `git status --porcelain | grep ^DU | cut -d' ' -f2`"

  # skip a cherry-pick when in progress
  skip-cherry = "!git reset; git clean -df; git cherry-pick --continue"

[branch]
  autosetuprebase = always

[merge]
  tool = fugitive

[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[mergetool]
  keepBackup = false

[diff]
	algorithm = patience
	compactionHeuristic = false
	tool = meld
